In [10]:
# visualization
import plotly.plotly as py
import plotly
import pandas as pd
plotly.tools.set_credentials_file(username='Pin-JieLin', api_key='Iyc6N3RgzMAXplWEZjb9')

In [11]:
new_df = pd.read_excel('data/draw_wins_map.xlsx')
#df2 = df2.convert_objects(convert_numeric=True)
new_df.info()
new_df.sort_values('win', ascending=False, inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1 to 30
Data columns (total 4 columns):
team    30 non-null object
win     30 non-null int64
lat     30 non-null float64
lon     30 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.2+ KB

In [12]:
new_df.head()

                team   win        lat        lon
1  San Antonio Spurs  1086  29.426944 -98.437500
2   Dallas Mavericks   929  32.790723 -96.810344
3  Charlotte Hornets   918  35.226089 -80.839063
4    Houston Rockets   886  29.751028 -95.362083
5         Miami Heat   852  25.781611 -80.187000

In [13]:
new_df['text'] = new_df['team'] + ' <br>' + (new_df['win']).astype(str)+' 勝場'
new_df['text']

1         San Antonio Spurs <br>1086 勝場
2           Dallas Mavericks <br>929 勝場
3          Charlotte Hornets <br>918 勝場
4            Houston Rockets <br>886 勝場
5                 Miami Heat <br>852 勝場
6             Boston Celtics <br>839 勝場
7         Los Angeles Lakers <br>838 勝場
8      Oklahoma City Thunder <br>836 勝場
9                  Utah Jazz <br>830 勝場
10            Indiana Pacers <br>825 勝場
11    Portland Trail Blazers <br>814 勝場
12           Detroit Pistons <br>790 勝場
13     Golden State Warriors <br>789 勝場
14            Denver Nuggets <br>785 勝場
15              Phoenix Suns <br>778 勝場
16       Cleveland Cavaliers <br>762 勝場
17           Toronto Raptors <br>755 勝場
18      Los Angeles Clippers <br>733 勝場
19             Chicago Bulls <br>726 勝場
20             Orlando Magic <br>725 勝場
21           Milwaukee Bucks <br>706 勝場
22             Atlanta Hawks <br>705 勝場
23         Memphis Grizzlies <br>705 勝場
24          Sacramento Kings <br>702 勝場
25        Philadelphia 76ers <br>688 勝場
26             Brooklyn Nets <br>660 勝場
27        Washington Wizards <br>658 勝場
28    Minnesota Timberwolves <br>651 勝場
29           New York Knicks <br>641 勝場
30      New Orleans Pelicans <br>283 勝場
Name: text, dtype: object

In [14]:
limits = [(0,2),(3,10),(11,20),(21,50),(50,3000)]
limits = [(0,4),(4,10),(10,15),(15,20),(20,31)]
colors = ["rgb(0,116,217)","rgb(255,65,54)","rgb(133,20,75)","rgb(255,133,27)","rgb(27, 188,155)"]
cities = []
scale = 5000

In [15]:
mean = new_df['win'].mean()
d_min = min(new_df['win'])
d_max = max(new_df['win'])
#print(mean, d_min, d_max)
f = mean / (d_max - d_min)
f

0.9503943545039435

In [16]:
print(new_df['win']  * f)

1     1032.128269
2      882.916355
3      872.462017
4      842.049398
5      809.735990
6      797.380863
7      796.430469
8      794.529680
9      788.827314
10     784.075342
11     773.621005
12     750.811540
13     749.861146
14     746.059568
15     739.406808
16     724.200498
17     717.547738
18     696.639062
19     689.986301
20     689.035907
21     670.978414
22     670.028020
23     670.028020
24     667.176837
25     653.871316
26     627.260274
27     625.359485
28     618.706725
29     609.202781
30     268.961602
Name: win, dtype: float64

In [17]:
rank_lst = [(1,4), (5,10), (11,15), (16,20), (21,30)]
for i in range(len(limits)):
    lim = limits[i]
    df_sub = new_df[lim[0]:lim[1]]
    city = dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df_sub['lon'],
        lat = df_sub['lat'],
        text = df_sub['text'],
        marker = dict(
            #size = (df_sub['win'] / min(new_df['win']) )  ** 7,
            size = ((df_sub['win'] * 2) / (mean) ) ** 8 ,
            # sizeref = 2. * max(df_sub['pop']/scale) / (25 ** 2),
            color = colors[i],
            line = dict(width=0.5, color='rgb(40,40,40)'),
            sizemode = 'area'
        ),
        name = '{0} - {1}'.format(rank_lst[i][0],rank_lst[i][1]) )
    

    cities.append(city)
    

layout = dict(
        title = 'NBA 20個賽季下的王者<br><br>1998-99 to 2017-18' ,
        showlegend = True,
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = 'rgb(217, 217, 217)',
            subunitwidth=1,
            countrywidth=1,
            subunitcolor="rgb(255, 255, 255)",
            countrycolor="rgb(255, 255, 255)"
        ),
    )

fig = dict(data=cities, layout=layout)
py.iplot(fig, validate=False, filename='d3-bubble-map-populations')